<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BBDU</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
  
   <div class="form">
    <form>
     <h2>ADDMISION COUNCILING FORM</h2>
    <label for="fname" id="fname">First name:</label>
    <input type="text" id="fname" placeholder="first name" name="fname"><br><br>
    <label for="lname">Last name:</label>
    <input type="text" id="lname" placeholder="Last name" name="lname"><br><br>
    <label for="country">Country:</label>
    <select id="country" name="country">
        <option value="nepal">Nepal</option>
        <option value="india">India</option>
        <option value="china">China</option>
        <option value="usa">USA</option>
        <option value="uk">UK</option>
    </select><br><br>
    <label for="subject">Write About Your Self:</label><br><br>
    <textarea id="subject" name="subject" rows="10" cols="30"></textarea><br><br>
    <label for="subject">Select Your Course:</label><br><br>
    <label for="course">Course:</label>
    <select id="Course" name="Course">
        <option value="bca">BCA</option>
        <option value="bba">BBA</option>
        <option value="btech">BTECH</option>
        <option value="bcom">BCOM</option>
        <option value="mca">MCA</option>
        <option value="phd">PHD</option>
    </select><br><br>
    <button type="submit" class="btn" >Submit</button>
  </form>
  </div>




    
</body>

</html>